.heading{
    text-align: center;
    background-color: gold;
    color: white;
    font-size: 20px !important;
    box-shadow: 5px 5px 5px silver;
    margin: 0%;
    width: 100%;
    padding-bottom: 7px;
}

#note{
    font-size: 15px !important;
    color: black;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}